<h1>Upload an Image</h1>

<!-- Input field to select an image -->
<input type="file" (change)="onFileSelected($event)" accept="image/*" [disabled]="isUploading">
<br><br>

<!-- Upload button -->
<button id="uploadButton" (click)="uploadImage()" [disabled]="isUploading">
  {{ isUploading ? 'Uploading...' : 'Upload' }}
</button>


<!-- Error message display -->
<div *ngIf="errorMessage">
  {{ errorMessage }}
</div>

<h2>Uploaded Image:</h2>
<!-- Display the uploaded image -->
<img *ngIf="imageSrc" [src]="imageSrc" id="uploadedImage" alt="Uploaded Image">